<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ serie.title }}</title>
    <link rel="icon" href="static\imagens\favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../static/filmesolo.css">
    <script src="https://kit.fontawesome.com/b9243416c4.js" crossorigin="anonymous"></script>
</head>
<body>
    
    <header>
        <section id="cabecario">

            <!-- Título principal do site -->
            <h1>POPCORN MOVIES</h1>

            <!-- Se o usuário estiver logado (variável nome presente) -->
            {% if nome %}

            <!-- Navegação principal -->
            <nav id="nav-header">
                <ul id="ul-header">
                    <li class="li-header"><a href="/home" id="subtitulobusca"><i class="fa-solid fa-house" style="color: #3c239b;"></i> INÍCIO</a></li>
                    <li class="li-header"><a href="/filmes" class="a-header"><i class="fa-solid fa-tv" style="color: #3c239b;"></i> FILMES</a></li>
                    <li class="li-header"><a href="/series" class="a-header"><i class="fa-solid fa-film" style="color: #3c239b;"></i> SÉRIES</a></li>
                </ul>
            </nav>

            <!-- Menu do usuário logado -->
            <ul id="menu" type="none">
                <!-- Checkbox para alternar o menu -->
                <input type="checkbox" id="menu-toggle" hidden>
                <label for="menu-toggle" class="menu-icon">
                    <li id="icone-header"><i class="fa-solid fa-user" style="color: #ffff;"></i></li>
                </label>

                <!-- Menu dropdown com ações -->
                <div class="menu">
                    <p>Olá {{nome}}!</p>
                    <p><a href="/Sair">Sair</a></p>
                </div>
            </ul>

            {% else %}

            <!-- Menu para usuário não logado -->
            <nav id="nav-header">
                <ul id="ul-header">
                    <li class="li-header"><a href="/home" id="subtitulobusca"><i class="fa-solid fa-house" style="color: #3c239b;"></i> INÍCIO</a></li>
                    <li class="li-header"><a href="/filmes" class="a-header"><i class="fa-solid fa-tv" style="color: #3c239b;"></i> FILMES</a></li>
                    <li class="li-header"><a href="/series" class="a-header"><i class="fa-solid fa-film" style="color: #3c239b;"></i> SÉRIES</a></li>
                </ul>
            </nav>

            <!-- Botão de login -->
            <nav>
                <ul type="none">
                    <li><a id="a-header-else" href="/login"><i class="fa-solid fa-user" style="color: #ffff;"></i> LOGIN</a></li>
                </ul>
            </nav>

        </section>
        {% endif %}
    </header>
    
    <main>
        <div  class="container"> 
            <div class="filmes-detalhes">
                <div class="filme-card">
                    <img src="https://image.tmdb.org/t/p/w500{{ serie.poster_path }}" alt="Poster de {{ serie.name }}">
                </div>
            
                <div class="info-filme">
                    <h1>{{ serie.name }}</h1>
                    <p><strong>Sinopse: </strong> {{ serie.overview}}</p>
                    <p><strong>Data de lançamento: </strong> {{ serie.data_formatada }}</p>
                    <p><strong>Gêneros: </strong> {{ serie.genres_nomes | join(', ') }}</p>
                    <p><strong>Nota: </strong><i class="fa-solid fa-star" style="color: rgba(255, 217, 0, 0.808);"></i> {{ serie.vote_average | round(1) }} </p>
                    <p><strong>Origem: </strong>{{serie.origin_country}}</p>

                </div>
            </div>
        </div>
    </main>    

    <footer>
        <p id="paragrafo-footer">Copyright &copy; 2025 Popcorn Movies</p>
    </footer>
    

    
</body>
</html>
