<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Favoritos</title>
    <link rel="icon" href="static\imagens\favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../static/filmes_e_series.css">
</head>
<body>
    <header>
        <section id="cabecario">
            <h1>POPCORN MOVIES</h1>
            <nav id="nav-header">
                <ul id="ul-header">
                    <li class="li-header"><a href="/home" id="subtitulobusca"><i class="fa-solid fa-house" style="color: #3c239b;"></i> INÍCIO</a></li>
                    <li class="li-header"><a href="/favoritos" class="a-header"><i class="fa-regular fa-heart" style="color: #3c239b;"></i> FAVORITOS</a></li>
                    <li class="li-header"><a href="/filmes" class="a-header"><i class="fa-solid fa-tv" style="color: #3c239b;"></i> FILMES</a></li>
                    <li class="li-header"><a href="/series" class="a-header"><i class="fa-solid fa-film" style="color: #3c239b;"></i> SÉRIES</a></li>
                </ul>
            </nav>
            <nav>
                <ul type="none">
                    <li id="icone-header"><a href="#"><i class="fa-solid fa-user" style="color: #3c239b;"></i></a></li>
                </ul>
            </nav>
        </section>
    </header>

    <h2>Meus Favoritos</h2>
</body>
</html>
