<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página dos Filmes</title>
    <link rel="icon" href="static\imagens\favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../static/filmes_e_series.css">
    <script src="https://kit.fontawesome.com/b9243416c4.js" crossorigin="anonymous"></script>
</head>
<body>
    
    <header>
        <section id="cabecario">

            <!-- Título principal do site -->
            <h1>POPCORN MOVIES</h1>

            <!-- Se o usuário estiver logado (variável nome presente) -->
            {% if nome %}

            <!-- Navegação principal -->
            <nav id="nav-header">
                <ul id="ul-header">
                    <li class="li-header"><a href="/home" id="subtitulobusca"><i class="fa-solid fa-house" style="color: #f4f3f8c5;"></i> INÍCIO</a></li>
                    <li class="li-header"><a href="/filmes" class="a-header"><i class="fa-solid fa-tv" style="color: #f4f3f8c5;"></i> FILMES</a></li>
                    <li class="li-header"><a href="/series" class="a-header"><i class="fa-solid fa-film" style="color: #f4f3f8c5;"></i> SÉRIES</a></li>
                </ul>
            </nav>

            <!-- Menu do usuário logado -->
            <ul id="menu" type="none">
                <!-- Checkbox para alternar o menu -->
                <input type="checkbox" id="menu-toggle" hidden>
                <label for="menu-toggle" class="menu-icon">
                    <li id="icone-header"><i class="fa-solid fa-user" style="color: #ffff;"></i></li>
                </label>

                <!-- Menu dropdown com ações -->
                <div class="menu">
                    <p>Olá {{nome}}!</p>
                    <p><a href="/Sair">Sair</a></p>
                </div>
            </ul>

            {% else %}

            <!-- Menu para usuário não logado -->
            <nav id="nav-header">
                <ul id="ul-header">
                    <li class="li-header"><a href="/home" id="subtitulobusca"><i class="fa-solid fa-house" style="color: #3c239b;"></i> INÍCIO</a></li>
                    <li class="li-header"><a href="/filmes" class="a-header"><i class="fa-solid fa-tv" style="color: #3c239b;"></i> FILMES</a></li>
                    <li class="li-header"><a href="/series" class="a-header"><i class="fa-solid fa-film" style="color: #3c239b;"></i> SÉRIES</a></li>
                </ul>
            </nav>

            <!-- Botão de login -->
            <nav>
                <ul type="none">
                    <li><a id="a-header-else" href="/login"><i class="fa-solid fa-user" style="color: #ffff;"></i> LOGIN</a></li>
                </ul>
            </nav>

            {% endif %}

        </section>
    </header>
    
    <main>


 <!--Filme popular-->       
        <h2>Filmes Populares</h2>

        <div class="grid-filmes">
            {% if filmes %}
                {% for filme in filmes %}
                    <div class="filme-card">
<!--link p/pag solo-->  <a href="{{ url_for('detalhes_filme', filme_id=filme['id']) }}">
                            <abbr title="{{ filme.overview }} -> {{ filme.genres_nomes | join(', ') }}">
                            <img src="https://image.tmdb.org/t/p/w200{{ filme.poster_path }}" alt="{{ filme.title }}" />
                            </abbr>
                        </a>
                        <p><strong>{{ filme.title }}</strong></p> 
                        <p>{{ filme.data_formatada }}</p>
                    </div>
                {% endfor %}
        </div>
        {% else %}
        <p>Nenhum filme popular recomendada.</p>
        {% endif %}
        
<!--Filmes TMDB-->

        <h2>Os Populares no TMDB</h2>

        <div class="grid-filmes">
        {% if tmdb %}
            {% for filme in tmdb %}
                    <div class="filme-card">
<!--link p/pag solo-->  <a href="{{ url_for('detalhes_filme', filme_id=filme['id']) }}">
                        <abbr title="{{ filme.overview }} -> Gêneros: {{ filme.genres_nomes | join(', ') }}">
                            <img src="https://image.tmdb.org/t/p/w200{{ filme.poster_path }}" alt="{{ filme.title }}" />
                        </abbr>
                        </a>
                    <p><strong>{{ filme.title }}</strong></p> 
                    <p>{{ filme.data_formatada}} </p>
                    </div>
            {% endfor %}
        {% else %}
        <p>Nenhum filme popular do TMDB recomendada.</p>
        {% endif %}
        </div>

<!--Filme avaliados--> 

        <h2>Os Mais Avaliados</h2>

        <div class="grid-filmes">
        {% if avaliados %}
            {% for filme in avaliados %}
                    <div class="filme-card">
<!--link p/pag solo-->  <a href="{{ url_for('detalhes_filme', filme_id=filme['id']) }}">    
                            <abbr title="{{ filme.overview }} -> Gêneros: {{ filme.genres_nomes | join(', ') }}">
                                <img src="https://image.tmdb.org/t/p/w200{{ filme.poster_path }}" alt="{{ filme.title }}" />
                            </abbr>
                        </a>    
                    <p><strong>{{ filme.title }}</strong></p> 
                    <p>{{ filme.data_formatada}} </p>
                    <p><i class="fa-solid fa-star" style="color: rgba(255, 217, 0, 0.808);"></i> {{ filme.vote_average | round(1) }} 

                    </div>
            {% endfor %}
        </div>
        {% else %}
        <p>Nenhum filme avaliado recomendada.</p>
        {% endif %}

<!--botão passar pag-->

        <div class="paginacao" >
        {% if pagina > 1 %}
            <a href="{{ url_for('filmes', page=pagina-1) }}">
                <button>Anterior</button>
            </a>
        {% endif %}
        <a href="{{ url_for('filmes', page=pagina+1) }}">
            <button>Próxima</button>
        </a>
       </div>
    </main>

    <footer>
        <p id="paragrafo-footer">Copyright &copy; 2025 Popcorn Movies</p>
    </footer>

</body>
</html>

