<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página dos Filmes</title><link rel="icon" href="static\imagens\favicon.ico" type="image/x-icon">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="/home">Início</a>
                    |<a href="/series">Séries</a>
                    |<a href="/filmes">Filmes</a></li>
            </ul>
        </nav>
    </header>
    <main>

 <!--Filme popular-->       
        <h2>Filmes Populares</h2>

        {% if filmes %}
        <ul>
            {% for filme in filmes %}
                <li>
                    <abbr title="{{ filme.overview }}"><img src="https://image.tmdb.org/t/p/w200{{ filme.poster_path }}" alt="{{ filme.title }}" /></abbr>
                    <strong>{{ filme.title }}</strong> - {{ filme.release_date }}
                </li>
            {% endfor %}
        </ul>
        {% else %}
        <p>Nenhum filme popular recomendada.</p>
        {% endif %}

<!--Filme avaliados--> 
        <h2>Os Mais Avaliados</h2>

        {% if avaliados %}
        <ul>
            {% for filme in avaliados %}
                <li>
                    <abbr title="{{ filme.overview }}"><img src="https://image.tmdb.org/t/p/w200{{ filme.poster_path }}" alt="{{ filme.title }}" /></abbr>
                    <strong>{{ filme.title }}</strong> - {{ filme.release_date}} Voto Popular: {{filme.vote_count | round(2)}}
                </li>
            {% endfor %}
        </ul>
        {% else %}
        <p>Nenhum filme avaliado recomendada.</p>
        {% endif %}

<!--Filmes TMDB-->

        <h2>Os Populares no TMDB</h2>

        {% if tmdb %}
        <ul>
            {% for filme in tmdb %}
                <li>
                    <abbr title="{{ filme.overview }}"><img src="https://image.tmdb.org/t/p/w200{{ filme.poster_path }}" alt="{{ filme.title }}" /></abbr>
                    <strong>{{ filme.title }}</strong> - {{ filme.release_date}} 
                </li>
            {% endfor %}
        </ul>
        {% else %}
        <p>Nenhum filme popular TMDB recomendada.</p>
        {% endif %}        

    </main>
        <div>
        {% if pagina > 1 %}
            <a href="{{ url_for('filmes', page=pagina-1) }}">
                <button>Anterior</button>
            </a>
        {% endif %}
        <a href="{{ url_for('filmes', page=pagina+1) }}">
            <button>Próxima</button>
        </a>
       </div>
    <footer>

    </footer>

</body>
</html>
