<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Popcorn Movies</title>
    <link rel="icon" href="static\imagens\favicon.ico" type="image/x-icon">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                <a href="/login">Login</a>
                |<a href="/cadastro">Cadastro</a>
                |<a href="/filmes">Filmes</a>
                |<a href="/series">Séries</a></li> </ul> 
        </nav>
    </header>
    <main>
        <h1>Buscar Filmes</h1>
        <form action="/home", method="post">
            <input type="text" name="barra-de-busca" id="barra-de-busca">
            <button type="submit">BUSCAR</button>
        </form>
        <h1>Filmes Populares</h1>
        <ul>
            {% for movie in movies %}
                <li>
                    <abbr title="{{ movie.overview }}"><img src="https://image.tmdb.org/t/p/w200{{ movie.poster_path }}" alt="{{ movie.title }}" /></abbr>
                    <strong>{{ movie.title }}</strong> - {{ movie.release_date }}
                </li>
            {% endfor %}
        </ul>
        
        <h1>Séries Populares</h1>
        <ul>
            {% for serie in series %}
            <li>
                <abbr title="{{serie.overview}}"><img src="https://image.tmdb.org/t/p/w200{{ serie.poster_path }}" alt="{{serie.name}}"></abbr>
                <strong>{{serie.name}}</strong> - {{serie.first_air_date}}
            </li>
            {% endfor %}
        </ul>
        
    </main>
    <footer>
         <p id="paragrafo-footer">&copy; Desenvolvido por Mateus Ferreira, Maria Layanne, Vinicius Matheus e Matheus Gabriel.</p>
    </footer>
</body>
</html>