<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Popcorn Movies</title>
    <link rel="icon" href="static/imagens/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../static/homepage.css">
    <script src="https://kit.fontawesome.com/b9243416c4.js" crossorigin="anonymous"></script>
</head>
<body>
    {% if nome %}
    <header>
        <h1 class="site-title">Popcorn Movies</h1>
        <nav>
            <ul>
                <li><a href="/inicio">Início</a></li>
                <li><a href="/filmes">Filmes</a></li>
                <li><a href="/series">Séries</a></li>
            </ul>
        </nav>
        <div class="profile-dropdown-container">
            <div class="profile-icon" id="profileIcon"> 
                <li id="icone-header"><i class="fa-solid fa-user" style="color: #ffff;"></i></li>
            </div>
            <div class="profile-dropdown-menu" id="profileDropdown">
                <ul>
                    <li><a href="/meu-perfil">Meu Perfil</a></li>
                    <li><a href="/configuracoes">Configurações</a></li>
                    <li><a href="/logout">Sair</a></li>
                </ul>
            </div>
        </div>
    </header>
     {% else %}
    <header>
        <h1 class="site-title">Popcorn Movies</h1>
        <nav>
            <ul>
                <li><a href="/filmes">Filmes</a></li>
                <li><a href="/series">Séries</a></li>
                <li><a href="/login">Login</a></li>
            </ul>
        </nav>
        <div class="profile-dropdown-container">
            <div class="profile-icon" id="profileIcon"> 
                <li id="icone-header"><i class="fa-solid fa-user" style="color: #ffff;"></i></li>
            </div>
            <div class="profile-dropdown-menu" id="profileDropdown">
                <ul>
                    <li><a href="/meu-perfil">Meu Perfil</a></li>
                    <li><a href="/configuracoes">Configurações</a></li>
                    <li><a href="/logout">Sair</a></li>
                </ul>
            </div>
        </div>
    </header>
    {% endif %}
    <main>
        <div class="search-section">
            <h1>Sejam bem-vindos!</h1>
            <p class="search-description">Dê uma olhada nos filmes e séries do catálogo</p>
            <form action="/home" method="post">
                <input type="text" name="barra-de-busca" id="barra-de-busca" placeholder="Digite o que deseja..." required>
                <button type="submit">BUSCAR</button>
            </form>
        </div>

        <h1>Filmes Populares</h1>
        <ul>
            {% for movie in movies %}
                <li>
                    <abbr title="{{ movie.overview }}">
                        <img src="https://image.tmdb.org/t/p/w200{{ movie.poster_path }}" alt="{{ movie.title }}" />
                    </abbr>
                    <strong>{{ movie.title }}</strong> - {{ movie.release_date }}
                </li>
            {% endfor %}
        </ul>

        <h1>Séries Populares</h1>
        <ul>
            {% for serie in series %}
            <li>
                <abbr title="{{serie.overview}}">
                    <img src="https://image.tmdb.org/t/p/w200{{ serie.poster_path }}" alt="{{serie.name}}">
                </abbr>
                <strong>{{serie.name}}</strong> - {{serie.first_air_date}}
            </li>
            {% endfor %}
        </ul>
    </main>
<footer class="site-footer">
    <div class="footer-content">
        <div class="footer-logo">
            <img src="../static/imagens/favicon.ico" alt="Popcorn Movies Logo">
        </div>
        <div class="footer-columns">
            <div class="footer-column">
                <h3 class="column-title">O BÁSICO</h3>
                <ul>
                    <li><a href="#">Sobre nós</a></li>
                    <li><a href="#">Contate-nos</a></li>
                    <li><a href="#">Suporte</a></li>
                    <li><a href="#">Documentação</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <ul>
                    <li><a href="#">Termos de uso</a></li>
                    <li><a href="#">Política de Privacidade</a></li>
                </ul>
            </div>
            <div class="footer-column social-links">
                <a href="#" id="a-quarta-coluna-footer"><i class="fa-brands fa-github"></i> GitHub</a>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <p class="copyright-text">Copyright © 2025 Popcorn Movies</p>
    </div>
</footer>
</body>
</html>