<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela Principal</title>
    <link rel="stylesheet" href="../static/stylebase.css">
</head>
<body>
    <header>
        <h1>PopCorn Movies</h1>
         <nav id="nav-header">
            <ul id="ul-header">
                <li class="li-header"><a href="/home" id="subtitulobusca">Home</a></li>
                <li class="li-header"><a href="#">Filmes</a></li>
                <li class="li-header"><a href="#">Séries</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section id="barra-de-busca">
            <form action="/home", method="post">
            <h2>Pesquisar:</h2>
            <input type="text" name="barra-de-busca" id="barra-de-busca" placeholder="Procure por um filme, uma série, uma personalidade">
            <button type="submit">BUSCAR</button>
        </form>
        </section>
        <section id="exibir-resultados">
            <section id="mensagem-flask">

                {% if mensagem %}
                <p>Exibindo resultados para: "{{ mensagem }}"</p>
                {% endif %}
                {% if buscar %}

            </section>
        
            <ul id="ul-main">
                <hr>
                    {% for busca in buscar %}
                        <li class="li-main">
                            <abbr title="{{ busca.overview }}"><img src="https://image.tmdb.org/t/p/w200{{ busca.poster_path }}" alt="{{ busca.title }}" /></abbr>
                            <strong>{{ busca.title }}</strong> - {{ busca.release_date }}
                        </li>
                    {% endfor %}
                    <hr>
            {% endif %}
        </section>
    </main>
    <footer>
        <p>&copy; Desenvolvido por Mateus Ferreira, Maria Layanne, Vinicius Matheus e Matheus Gabriel.</p>
    </footer>
</body>
</html>