<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Explorador de Filmes e Séries</title>
    <link rel="stylesheet" href="../static/login.css">
</head>
<body>
    <header><h1>FilmeXplorer</h1></header>
    <fieldset class="forma-geral-do-login">
        <form action="">
        <div class="form-imagem">
            <img src="../static/imagens/sites-para-assistir-filmes-e-series-gratis.jpg" alt="">
        </div>
        <div class="formulario">
        <div class="cabecario-do-form">
            <h2>Login</h2>
            <p>Seja bem vindo!</p>
            <legend>Digite seus dados de acesso no campo abaixo.</legend>
        </div>
        <div class="entrada-de-dados">
            <div class="preencher-dados">
                <label for="email">E-mail:</label>
                <input id="input-email" type="text" name="email" placeholder="user@email.com" required>
                <label for="senha">Senha:</label>
                <input id="input-senha" type="password" name="senha" placeholder="Digite sua senha..." required>
                <div class="botoes">
                    <button>ENTRAR</button>
                    <button type="submit"><a href="/cadastro" style="text-decoration: none;">CADASTRAR</a></button>   
        </div>
            </div>
        </div>
        </div>
        </form>
    </fieldset>    
    <footer>
        <p>&copy; Desenvolvido por Mateus Ferreira, Maria Layanne, Vinicius Matheus e Matheus Gabriel.</p>
    </footer>
</body>
</html>