<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Termo de Uso</title>
    <link rel="icon" href="static\imagens\favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../static/footersite.css">
    <script src="https://kit.fontawesome.com/b9243416c4.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <section id="cabecario">
            <h1>POPCORN MOVIES</h1>
            <nav id="nav-header">
                <ul id="ul-header">
                    <li class="li-header"><a href="/home" id="subtitulobusca"><i class="fa-solid fa-house" style="color: #f4f3f8c5;"></i> INÍCIO</a></li>
                    <li class="li-header"><a href="/filmes" class="a-header"><i class="fa-solid fa-tv" style="color: #f4f3f8c5;"></i> FILMES</a></li>
                    <li class="li-header"><a href="/series" class="a-header"><i class="fa-solid fa-film" style="color: #f4f3f8c5;"></i> SÉRIES</a></li>
                </ul>
            </nav>
            <nav>
                <ul type="none">
                    <li id="icone-header"><a href="#"><i class="fa-solid fa-user" style="color: #f4f3f8c5;"></i></a></li>
                </ul>
            </nav>
        </section>
        
        
    </header>

    <main>

        <div class="container">
            <h1>Política de Privacidade – Popcorn Movies</h1>
            
            <p>Última atualização: [10/06/2025]</p>
            
            <h3>A sua privacidade é importante para nós. Esta Política de Privacidade descreve como coletamos, usamos e protegemos suas informações no Popcorn Movies, uma plataforma educacional desenvolvida como parte do projeto de Engenharia de Software.</h3>

            <h2>1. Coleta de Informações</h2>
        
            <p>O <strong>Popcorn Movies não coleta dados pessoais sensíveis</strong> dos usuários, como nome, CPF, endereço ou informações bancárias.</p>
            <p>As únicas informações que podem ser coletadas são:</p>
            <p><ul>
                <li>Informações de navegação (como tempo de visita, páginas acessadas e tipo de dispositivo);</li>
                <li>Informações enviadas voluntariamente por meio do formulário de contato (nome e e-mail).</li>
                </ul>
            </p>
            <p>Essas informações são utilizadas exclusivamente para fins de melhoria da plataforma ou resposta a dúvidas e sugestões.</p>
            
            <h2>2. Compartilhamento de Informações</h2>
            <p>O <strong>Popcorn Movies não compartilha, vende ou divulga suas informações pessoais</strong> com terceiros.</p>

            <h2>3. Segurança</h2>
            <p>Adotamos práticas para manter suas informações seguras, mas como se trata de um projeto acadêmico, <strong>não há garantias de segurança absoluta.</strong> O uso da plataforma é feito por sua conta e risco.</p>

            <h2>4. Links para Terceiros</h2>
            <p>Nosso site pode conter links para outros sites, como o<strong> The Movie Database (TMDB)</strong>. Não nos responsabilizamos pelas políticas de privacidade desses sites. Recomendamos que você leia os termos e políticas de qualquer site externo visitado.</p>

            <h2>5. Alterações nesta Política</h2>
            <p>Esta política pode ser atualizada a qualquer momento sem aviso prévio. A data da última modificação estará sempre visível no topo da página.</p>

            <h2>6. Contato</h2>
            <p>Se você tiver dúvidas ou sugestões sobre esta Política de Privacidade, entre em contato conosco através da página de <strong>Contato</strong> do site.</p>
        </div>
    </main>

<!-- Linha divisória -->
    <hr id="hr2">

    <!-- Rodapé do site -->
    <footer>

        <!-- Coluna com logo -->
        <div id="primeira-coluna-footer">
            <img id="imagem-footer" src="../static/imagens/favicon.ico" alt="">
        </div>

        <!-- Coluna com links básicos -->
        <div id="segunda-coluna-footer">
            <ul type="none">
                <li id="o-basico"><a id="a-o-basico-footer" href="#">O BÁSICO</a></li>
                <li class="li-segunda-coluna-footer"><a href="/sobrenos">Sobre nós</a></li>
                <li class="li-segunda-coluna-footer"><a href="/contato">Contate-nos</a></li>
                <li class="li-segunda-coluna-footer"><a href="/suporte">Suporte</a></li>
                <li class="li-segunda-coluna-footer"><a id="a-documentacao-footer" href="https://www.canva.com/design/DAGno7FHbNc/VHLm48q2cOmCFxoYq_Ss6w/view?utm_content=DAGno7FHbNc&utm_campaign=designshare&utm_medium=link2&utm_source=uniquelinks&utlId=h26d4ca7713" target="_blank" rel="noopener noreferrer">Documentação</a></li>
            </ul>
        </div>

        <!-- Coluna com informações legais -->
        <div id="terceira-coluna-footer">
            <ul type="none">
                <li class="li-terceira-coluna-footer"><a href="/termo">Termos de uso</a></li>
                <li class="li-terceira-coluna-footer"><a href="/privacidade">Política de Privacidade</a></li>
            </ul>
        </div>

        <!-- Coluna com link do GitHub e copyright -->
        <div id="quarta-coluna-footer">
            <a href="https://github.com/mateusferreiraof/unima_engenharia_de_software" id="a-quarta-coluna-footer"target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-github" ></i> GitHub</a>
            <p id="p-quarta-coluna-footer">Copyright &copy; 2025 Popcorn Movies</p>
        </div>

    </footer>
</body>
</html>