<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Séries</title>
    <link rel="icon" href="static\imagens\favicon.ico" type="image/x-icon">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="/home">Início</a>
                    |<a href="/series">Séries</a>
                    |<a href="/filmes">Filmes</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Página de Séries</h1>

<!--mais avaliadas-->  
        <h2>As mais avaliadas</h2>
       
        {% if avaliadas %}
        <ul>
            {% for serie in avaliadas %}
            <li>
                <abbr title="{{serie.overview}}"><img src="https://image.tmdb.org/t/p/w200{{ serie.poster_path }}" alt="{{ serie.name }}"></abbr>
                <strong>{{ serie.name }}</strong> - {{ serie.first_air_date }} Voto Popular: {{serie.vote_count | round(2)}}
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p>Nenhuma série avaliada encontrada.</p>
        {% endif %}        

<!--Exibidas hj -->        
        <h2>Séries Exibidas Hoje</h2>
        
        {% if hj %}
        <ul>
            {% for serie in hj %}
            <li>
                <abbr title="{{serie.overview}}"><img src="https://image.tmdb.org/t/p/w200{{ serie.poster_path }}" alt="{{ serie.name }}"></abbr>
                <strong>{{ serie.name }}</strong> - {{ serie.first_air_date }} - {{serie.origin_country}}
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p>Nenhuma série Exibida Hoje encontrada.</p>
        {% endif %}

 <!--tv shows / series -->        
        <h2>Tv shows e Séries</h2>
        {% if populares %}
        <ul>
            {% for serie in populares %}
            <li>
                <abbr title="{{serie.overview}}"><img src="https://image.tmdb.org/t/p/w200{{ serie.poster_path }}" alt="{{ serie.name }}"></abbr>
                <strong>{{ serie.name }}</strong> - {{ serie.first_air_date }} - {{serie.origin_country}}
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p>Nenhuma série popular encontrada.</p>
        {% endif %}

<!--populares tmdb-->  
        <h2>Mais poulares no TMDB</h2>

        {% if tmdb %}
        <ul>
            {% for serie in tmdb %}
            <li>
                <abbr title="{{serie.overview}}"><img src="https://image.tmdb.org/t/p/w200{{ serie.poster_path }}" alt="{{ serie.name }}"></abbr>
                <strong>{{ serie.name }}</strong> - {{ serie.first_air_date }}
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p>Nenhuma série recomendada da TMDB.</p>
        {% endif %}

        <div>
        {% if pagina > 1 %}
            <a href="{{ url_for('series', page=pagina-1) }}">
                <button>Anterior</button>
            </a>
        {% endif %}
        <a href="{{ url_for('series', page=pagina+1) }}">
            <button>Próxima</button>
        </a>
       </div>
    </main>

    <footer><p id="paragrafo-footer">&copy; Desenvolvido por Mateus Ferreira, Maria Layanne, Vinicius Matheus e Matheus Gabriel.</p></footer>
    
</body>
</html>
