<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre nós</title>
    <link rel="icon" href="static\imagens\favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../static/footersite.css">
    <script src="https://kit.fontawesome.com/b9243416c4.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <section id="cabecario">

            <!-- Título principal do site -->
            <h1>POPCORN MOVIES</h1>

            <!-- Se o usuário estiver logado (variável nome presente) -->
            {% if nome %}

            <!-- Navegação principal -->
            <nav id="nav-header">
                <ul id="ul-header">
                    <li class="li-header"><a href="/home" id="subtitulobusca"><i class="fa-solid fa-house" style="color: #3c239b;"></i> INÍCIO</a></li>
                    <li class="li-header"><a href="/filmes" class="a-header"><i class="fa-solid fa-tv" style="color: #3c239b;"></i> FILMES</a></li>
                    <li class="li-header"><a href="/series" class="a-header"><i class="fa-solid fa-film" style="color: #3c239b;"></i> SÉRIES</a></li>
                </ul>
            </nav>

            <!-- Menu do usuário logado -->
            <ul id="menu" type="none">
                <!-- Checkbox para alternar o menu -->
                <input type="checkbox" id="menu-toggle" hidden>
                <label for="menu-toggle" class="menu-icon">
                    <li id="icone-header"><i class="fa-solid fa-user" style="color: #ffff;"></i></li>
                </label>

                <!-- Menu dropdown com ações -->
                <div class="menu">
                    <p>Olá {{nome}}!</p>
                    <p><a href="/Sair">Sair</a></p>
                </div>
            </ul>

            {% else %}

            <!-- Menu para usuário não logado -->
            <nav id="nav-header">
                <ul id="ul-header">
                    <li class="li-header"><a href="/home" id="subtitulobusca"><i class="fa-solid fa-house" style="color: #3c239b;"></i> INÍCIO</a></li>
                    <li class="li-header"><a href="/filmes" class="a-header"><i class="fa-solid fa-tv" style="color: #3c239b;"></i> FILMES</a></li>
                    <li class="li-header"><a href="/series" class="a-header"><i class="fa-solid fa-film" style="color: #3c239b;"></i> SÉRIES</a></li>
                </ul>
            </nav>

            <!-- Botão de login -->
            <nav>
                <ul type="none">
                    <li><a id="a-header-else" href="/login"><i class="fa-solid fa-user" style="color: #ffff;"></i> LOGIN</a></li>
                </ul>
            </nav>

            {% endif %}

        </section>
    </header>

    <main>

        <div class="container">
            <h1>Descubra a história por trás do nosso projeto.</h1>
            <p>O <strong>Popcorn Movies</strong> é dedicado à produção do projeto de Engenharia de Software. Desenvolvemos esta plataforma como parte de uma prática avaliativa da segunda unidade, visando  <strong>explorar conceitos de desenvolvimento web e integração de APIs.</strong>
            </p>
            <p>Nosso foco é <strong>oferecer um site de recomendações de filmes e séries</strong> para os amantes da sétima arte. Para isso, integramos APIs públicas que nos permitem acessar dados atualizados sobre produções, garantindo que os usuários tenham acesso às melhores sugestões disponíveis.
            </p>
            <p>Prepare a pipoca, <stong>mergulhe em nossas sugestões</stong> e embarque nessa jornada pelo fascinante universo do <strong>cinema e das séries!</strong></p>
        </div>
    </main>

<!-- Linha divisória -->
    <hr id="hr2">

    <!-- Rodapé do site -->
    <footer>

        <!-- Coluna com logo -->
        <div id="primeira-coluna-footer">
            <img id="imagem-footer" src="../static/imagens/favicon.ico" alt="">
        </div>

        <!-- Coluna com links básicos -->
        <div id="segunda-coluna-footer">
            <ul type="none">
                <li id="o-basico"><a id="a-o-basico-footer" href="#">O BÁSICO</a></li>
                <li class="li-segunda-coluna-footer"><a href="/sobrenos">Sobre nós</a></li>
                <li class="li-segunda-coluna-footer"><a href="/contato">Contate-nos</a></li>
                <li class="li-segunda-coluna-footer"><a href="/suporte">Suporte</a></li>
                <li class="li-segunda-coluna-footer"><a id="a-documentacao-footer" href="https://www.canva.com/design/DAGno7FHbNc/VHLm48q2cOmCFxoYq_Ss6w/view?utm_content=DAGno7FHbNc&utm_campaign=designshare&utm_medium=link2&utm_source=uniquelinks&utlId=h26d4ca7713" target="_blank" rel="noopener noreferrer">Documentação</a></li>
            </ul>
        </div>

        <!-- Coluna com informações legais -->
        <div id="terceira-coluna-footer">
            <ul type="none">
                <li class="li-terceira-coluna-footer"><a href="/termo">Termos de uso</a></li>
                <li class="li-terceira-coluna-footer"><a href="/privacidade">Política de Privacidade</a></li>
            </ul>
        </div>

        <!-- Coluna com link do GitHub e copyright -->
        <div id="quarta-coluna-footer">
            <a href="https://github.com/mateusferreiraof/unima_engenharia_de_software" id="a-quarta-coluna-footer"target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-github" ></i> GitHub</a>
            <p id="p-quarta-coluna-footer">Copyright &copy; 2025 Popcorn Movies</p>
        </div>

    </footer>
</body>
</html>