body {
  background-color: rgb(60, 35, 155);
  color: white;
  font-family: Arial, sans-serif;
  margin: 0;
  text-align: center;
}

header {
  background-color: rgb(8, 140, 180);
  padding: 10px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 5px;
  margin: 0;
}

nav a {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 10px 12px;
  border-radius: 5px;
  background-color: black;
  transition: background-color 0.3s;
  display: inline-block;
  min-width: 100px;
  text-align: center;
}

nav a:hover {
  background-color: rgb(10, 165, 210);
}

form {
  margin: 5px auto 20px auto;  /* reduz a margem vertical */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

input[type="text"] {
  padding: 8px;       /* reduz um pouco o padding */
  width: 250px;
  border: none;
  border-radius: 5px;
}

button {
  padding: 8px 16px;  /* reduz o padding do botão */
  border: none;
  background-color: rgb(10, 165, 210);
  color: black;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
}

button:hover {
  background-color: rgb(8, 140, 180);
}

ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-bottom: 40px;
}

li {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  padding: 10px;
  width: 200px;
  text-align: center;
  color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

li img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

main h1 {
  margin-top: 15px;
  margin-bottom: 20px;
  border-bottom: 2px solid white;
  display: inline-block;
  padding-bottom: 5px;
  font-family: 'Times New Roman', Times, serif;
}

main ul {
  background-color: black;
  padding: 20px;
  border-radius: 10px;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgb(10, 165, 210);
  color: black;
  text-align: center;
  font-size: 1.5rem;
  font-family: 'Times New Roman', Times, serif;
  padding: 0px 5px;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
  line-height: 0
}
