

@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Pacifico&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    background: linear-gradient(to right, rgb(10, 165, 210), rgb(60, 35, 155));
}

header {
    display: flex;
    flex-direction: column;
}


h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

form {
    margin: auto;
    width: 515px;
    padding: 20px;
}

input {
    margin: auto;
    width: 440px;
    padding: 5px;
    border: 1px solid transparent;
    border-radius: 5px;
}

button {
    background-color: transparent;
    border: transparent;
    width: 24px;
    height: 24px;
}

a {
    text-decoration: none;
    color: black;
    font-size: 25px;
    text-align: center;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    padding: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
}

main {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 0px solid transparent;
    border-radius: 5px 5px 0px 0px;
}

strong {
    width: 200px;
}


#cabecario {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px 20px 40px;
    max-height: 100px;
}

#pesquisa {
    background-image: url(imagens/imagem-pipoca.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 300px;
}

#hr1, #hr2 {
    border: 1px solid white;
    margin-top: 10px;
    margin-bottom: 10px;
}

#ul-main {
    margin: 10px;
    background-color: black;
    border-radius: 5px;
}

#mensagem-flask {
    padding: 20px;
    font-size: 32px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #ECECEC;
    text-align: center;
    color: black;
}

#menu {
    max-height: 100px;
}

#subtitulobusca {
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px;
}

#subtitulobusca:hover {
    background-color: yellowgreen;
}

#h2-header {
    text-align: center;
    color: white;
    margin-top: 40px;
    font-size: 65px;
}

#p-header {
    color: white;
    font-size: 40px;
    width: 200px;
}

#legend-header {
    text-align: center;
    color: white;
    font-size: 25px;
}

#imagens {
    border-radius: 10px;
    width: 150px;
    height: 200px;
}

#primeira-coluna-footer {
    padding: 40px;
}

#imagem-footer {
    width: 100px;
}

#terceira-coluna-footer {
    margin: 50px 0px 50px 0px;
}

#a-documentacao-footer {
    text-decoration: underline;
}

#a-o-basico-footer {
    color: white;
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
}

#quarta-coluna-footer {
    text-align: left;
    margin: 50px 0px 50px 0px;
}

#a-quarta-coluna-footer {
    color: white;
}

#p-quarta-coluna-footer {
    color: white;
    padding-top: 50px;
}

#a-header-else {
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px;
}

#a-header-else:hover {
    background-color: yellowgreen;
}

#icone-header {
    border: 1px solid white;
    border-radius: 5px;
    padding: 15px;
}

#icone-header:hover {
    background-color: yellowgreen;
}

.li-header {
    display: inline-block;
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.li-segunda-coluna-footer {
    margin: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: left;
}

.li-segunda-coluna-footer > a {
    color: white;
}

.li-terceira-coluna-footer {
    text-align: left;
}

.li-terceira-coluna-footer > a {
    color: white;
}

.a-header {
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px;
}

.a-header:hover {
    background-color: yellowgreen;
}


.li-main {
    padding: 15px;
    display: inline-table;
    text-align: left;
    color: white;
    max-width: 150px;
    max-height: 250px;
}

#menu-toggle:checked + .menu-icon + .menu {
  display: block;
}

.menu {
    display: none;
    position: absolute;
    right: 0;
    background: linear-gradient(to right, rgb(10, 165, 210), rgb(60, 35, 155));
    width: 375px;
    height: 230px;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
}


.menu > p {
    padding: 20px 0px 20px 0px;
    color: white;
    text-align: center;
    font-size: 24px;
    width: 350px;
    border: 1px solid white;
    background: linear-gradient(to right, rgb(10, 165, 210) 10%, rgb(10, 165, 210) 15%, rgb(60, 35, 155) 70%, rgb(60, 35, 155) 100%);
}


.menu > p > a {
    color: white;
}

.menu > p > a:hover {
    text-decoration: underline;
}