@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Pacifico&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(10, 165, 210);
    text-align: center;
    color: black;
    font-family: 'Pacifico';
}

body {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(60, 35, 155);
    flex-direction: column;
}

main {
    margin: 256px;
}

form {
    display: flex;
    flex-direction: row;
    margin: auto;
}

#botao-entrar:hover {
    background-color: greenyellow;
}

#botao-cadastrar:hover {
    background-color: greenyellow;
}

#separacao {
    align-items: center;
    border-bottom: 1px solid #E2E7ED;
    width: 250px;
    margin: 5px;
}

#mensagem-flask {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: red;
}

#subtitulologin {
    color: black;
    text-decoration: underline black;
}

.forma-geral-do-login {
    margin: 30px;
    border: none;
    display: block;
    justify-content: space-around;
    flex-wrap: wrap;
}
.formulario {
    width: 750px;
    height: 395px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid transparent;
    border-radius: 3px;
    box-shadow: 5px 5px 20px black;
}
.form-imagem {
    width: 750px;
    height: 395px;
    border: 1px solid transparent;
    box-shadow: 5px 5px 20px black;
    border-radius: 5px;
}
.entrada-de-dados {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.preencher-dados {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.botoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2px;
}
.cabecario-do-form {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 5px;
}
h2 {
    color: black;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
}
p {
    color: black;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
}
a {
    text-decoration: none;
    color: #1877F2;
    margin-bottom: 5px;
}
a:visited {
    color: #1877F2;
}
legend {
    color: dimgray;
    font-size: 16px;

}
input {
    width: 250px;
    border: 1px solid transparent;
    border-radius: 5px;
    border-color: black;
    background-color: white;
    padding: 5px;
}
label {
    font-family: 'Times New Roman', Times, serif;
    display: block;
    text-align: left;
    width: 35%;
    padding: 10px;

}
button {
    width: 250px;
    flex-direction: column;
    padding: 3px;
    margin: 10px;
    background-color: rgb(10, 165, 210);
    border: 1px solid transparent;
    border-radius: 5px;
}
footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: rgb(10, 165, 210);;
    text-align: center;
}